<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mega-Bite | Create Shop Menu</title>
    <!-- add icon link -->
    <th:block th:include="fragment/heading :: heading "></th:block>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:include="fragment/style :: head "></th:block>

    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.css}">

    <style type="text/css">
        .select2-container .select2-selection--single {
            height: 38px;
        }

        .select2-container--default .select2-selection--single {
            background-color: transparent;
        !important;
            border: 1px solid #ced4da;
        !important;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 40px;
            right: 6px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <!-- header -->
    <th:block th:include="fragment/test-header :: header "></th:block>

    <!-- sidebar -->
    <th:block th:include="fragment/admin-sidebar :: sidebar "></th:block>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="card-title font-weight-bold" style="margin: 5px 5px;">Menu
                        </h3>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right" style="margin:5px 5px;">
                            <li class="breadcrumb-item"><a href="/shops">Shop</a>
                            </li>
                            <li class="breadcrumb-item active">Menu</li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="justify-content-center">
                    <div class="card container-fluid">
                        <div class="card-body">
                            <form id="form" class="form-horizontal" method="post" th:action="@{/shopMenu/save}"
                                  modelAttribute="shopMenuForm" th:object="${shopMenuForm}"
                                  enctype="multipart/form-data">

                                <div class="col-md-4">

                                </div>

                                <div class="col-md-4">

                                </div>
                                <div class="row">
                                    <div class="form-group required col-md-6">
                                        <label class="control-label font-weight-bold">Menu
                                        </label>
                                        <div>
                                            <select class="select2 form-control" style="width: 100%" id="menuId"
                                                    th:field="*{menuId}"
                                                    th:data-placeholder="#{shop.menu.not.blank}">
                                            </select>
                                            <div th:if="${#fields.hasErrors('menuId')}" th:errors="*{menuId}"
                                                 class="text-danger"></div>
                                            <input type="hidden" id="selectedMenuId" th:field="*{menuId}">
                                        </div>
                                        <div id="shopError"></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group required col-md-6">
                                        <label class="control-label font-weight-bold">Price</label>
                                        <div>
                                            <input type="text" class="form-control" id="price"
                                                   name="price" th:field="*{price}">
                                            <span th:if="${#fields.hasErrors('price')}"
                                                  th:errors="*{price}" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group required col-md-6">
                                        <label class="control-label font-weight-bold">Image</label>
                                        <div class="col-sm-12">
                                            <div class="mb-3">
                                                <input id="fileupload" type="file" th:name="image"
                                                       th:field="*{image}"
                                                       class="custom-file-input">
                                                <div id="dvPreview" class="col-sm-12 my-3">
                                                    <img th:src="*{url}" id="imgPreview"
                                                         class="img-thumbnail img-responsive"
                                                         style="max-height: 400px;"
                                                         accept="image/png, image/gif, image/jpeg">
                                                    <input type="hidden" id="url" th:field="*{url}"
                                                           th:value="${shopMenuForm.url}">

                                                </div>
                                                <label class="custom-file-label">Please choose Image
                                                </label>
                                                <!--<span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"
                                                      class="text-danger"></span>-->
                                                <span th:text="${checkFile}" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="form-group col-md-6"></div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div>
                                                    <a class="btn btn-secondary form-control"
                                                       id="cancelBtn" role="button"
                                                       th:href="@{/shops}">Cancel</a>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div>
                                                    <button class="btn btn-bg-color form-control" id="submitBtn"
                                                            name="submit" type="submit">Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" id="id" th:field="*{id}" th:value="${shopMenuForm.id}">

                                <input type="hidden" id="shopId" th:field="*{shopId}" th:value="${shopMenuForm.shopId}">

                                <input type="hidden" id="isNewImage" th:field="*{isNewImage}">

                                <!--error messages-->
                                <input type="hidden" id="shop_not_blank" th:value="#{shop.not.blank}"/>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>
<!-- ./script -->
<th:block th:include="fragment/script :: script"></th:block>

<!--<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.js}"></script>-->
<script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
<script th:src="@{/plugins/select2/js/select2.full.js}"></script>
<script th:src="@{/js/ShopMenu/new-shop-menu.js}"></script>

<script type="text/javascript">
    window.onload = function () {
        if ($('#url').val() == '') {
            $('#imgPreview').hide();
        } else {
            $('#imgPreview').show();
        }

        //$('#imgPreview').hide();

        var fileUpload = document.getElementById("fileupload");
        fileUpload.onchange = function () {
            $('#imgPreview').empty();
            $('#imgPreview').hide();

            $('#isNewImage').val(true);

            if (typeof (FileReader) != "undefined") {
                var dvPreview = document.getElementById("dvPreview");
                dvPreview.innerHTML = "";
                var regex = /\.(gif|jpe?g|jpg|tiff|png|webp|bmp)$/;
                for (var i = 0; i < fileUpload.files.length; i++) {
                    var file = fileUpload.files[i];
                    if (regex.test(file.name.toLowerCase())) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            const img = document.createElement("IMG");
                            img.setAttribute("style", "max-height: 200px;");
                            img.setAttribute("class", "img-thumbnail img-responsive");

                            img.src = e.target.result;
                            dvPreview.appendChild(img);
                        }
                        reader.readAsDataURL(file);
                    } else {
                        alert(file.name + " is not a valid image file.");
                        dvPreview.innerHTML = "";
                        return false;
                    }
                }
            } else {
                alert("This browser does not support HTML5 FileReader.");
            }
        }
    };
</script>

</body>

</html>