<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="reset-password">
    <!-- start resetPasswordModal-->
    <div id="resetPasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reset Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-color pl-3 pr-3"
                            data-dismiss="modal">Close
                    </button>
                    <a id="resetPasswordAgent">
                        <button type="button" class="btn text-white btn-bg-color pl-3 pr-3">
                            Reset Password
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- end resetPasswordModal-->
</div>

</body>
</html>