<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Myanmar Transporting Power</title>

    <!-- add icon link -->
    <th:block th:include="fragment/heading :: heading "></th:block>

    <!--Style File-->
    <th:block th:include="fragment/style :: head "></th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
    <!-- header -->
    <th:block th:include="fragment/test-header :: header "></th:block>

    <!-- sidebar -->
    <th:block th:include="fragment/test-sidebar :: sidebar "></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper content-wrapper-bg-color">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="card-title font-weight-bold" style="margin:5px 5px;">Transportation</h3>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right" style="margin:5px 5px;">
                            <li class="breadcrumb-item active">Transportation</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">

            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="justify-content-center">

                    <div class="card container-fluid">

                        <!--card body-->
                        <div class="card-body">
                            <table class="table table-responsive w-100 d-block d-md-table"
                                   id="transportation-table">
                                <thead>
                                <tr class="text-white">
                                    <th class="text-center">Id</th>
                                    <th class="text-center">No</th>
                                    <th class="text-center">Order</th>
                                    <!--<th class="text-center">Customer</th>-->
                                    <th class="text-center">Staff</th>
                                    <th class="text-center">From Gate</th>
                                    <th class="text-center">To Gate</th>
                                    <th class="text-center">Fee</th>
                                    <th class="text-center">Image</th>
                                    <th class="text-center">Is Confirmed</th>
                                    <th class="text-center">View</th>

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <!--<th></th>-->
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>

</div>

<!-- start deactivateModal-->
<div id="deactivateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deactivate Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-color pl-5 pr-5"
                        data-dismiss="modal">Close
                </button>
                <a id="banAgent">
                    <button type="button" class="btn text-white btn-bg-color pl-5 pr-5">
                        Deactivate
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end deactivateModal-->

<!-- Modal -->
<div class="modal fade" id="transportationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <input type="hidden" id="transportationId">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="text-align: center;flex: 1" class="modal-title" id="myModalLabel">Cash Clearing</h4>
            </div>
            <div style="text-align: center" class="modal-body">
                Are you sure to clear the cash for <br/>this transportaion?
            </div>
            <div class="modal-footer">
                <button style="flex: 1" type="button" class="btn btn-outline-color pl-5 pr-5" data-dismiss="modal">No</button>
                <button style="flex: 1" type="button" class="btn btn-bg-color pl-5 pr-5" onclick="cashClearing()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Logout Modal -->
<th:block th:include="fragment/logout :: logout "></th:block>

<!-- script -->
<th:block th:include="fragment/script :: script"></th:block>

<script th:src="@{/js/transportation.js}"></script>
<script th:src="@{/js/dataTables.checkboxes.js}"></script>

</body>
</html>