<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Myanmar Transporting Power</title>

    <!-- add icon link -->
    <th:block th:include="fragment/heading :: heading "></th:block>

    <!--Style File-->
    <th:block th:include="fragment/style :: head "></th:block>

    <style>
        .border-color {
            border-style: solid;
            border-color: #de9a28;
        }
    </style>

</head>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
    <!-- header -->
    <th:block th:include="fragment/test-header :: header "></th:block>

    <!-- sidebar -->
    <th:block th:include="fragment/test-sidebar :: sidebar "></th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper content-wrapper-bg-color">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="card-title font-weight-bold" style="margin: 5px 5px;">Failed Order Detail</h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right" style="margin:5px 5px;">
                            <li class="breadcrumb-item"><a th:href="@{/failed-orders}">Failed Orders</a>
                            </li>
                            <li class="breadcrumb-item active">Failed Order Detail</li>
                        </ol>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">

            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="justify-content-center">

                    <div class="container-fluid">

                        <!--card body-->
                        <div class="card-body">

                            <div class="row">

                                <div class="card w-100">
                                    <div class="card-header text-secondary">Customer Info</div>
                                    <div class="card-body">

                                        <div class="row">
                                            <!--Customer Name-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="customerName" class="col-sm-11 col-form-label">Customer
                                                        Name
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="customerName"
                                                               name="customerName" th:value="${order.customerName}"
                                                               readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Phone Number-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="phoneNumber" class="col-sm-11 col-form-label">Phone
                                                        Number
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="phoneNumber"
                                                               name="phoneNumber" th:value="${order.phoneNumber}"
                                                               readonly>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <!--Address-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="address" class="col-sm-11 col-form-label">Address
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="address"
                                                               name="address" th:value="${order.address}"
                                                               readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card w-100">
                                    <div class="card-header text-secondary">Order Info</div>
                                    <div class="card-body">

                                        <div class="row">
                                            <!--orderNumber-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="orderNumber" class="col-sm-11 col-form-label">Order
                                                        Id</label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="orderNumber"
                                                               name="orderNumber"
                                                               th:value="${order.orderNumber}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Order Status-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="status" class="col-sm-11 col-form-label">Order Status
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="status"
                                                               name="status"
                                                               th:value="${order.status}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <!--Weight-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="Weight" class="col-sm-11 col-form-label">
                                                        Weight
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="Weight"
                                                               name="totalAmount"
                                                               th:value="${order.weight}+kg" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Total Amount-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="totalAmount" class="col-sm-11 col-form-label">
                                                        Amount
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="totalAmount"
                                                               name="totalAmount"
                                                               th:value="${order.totalAmount}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <!--Delivery Fee-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="deliveryFee" class="col-sm-11 col-form-label">Delivery
                                                        Fee
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="deliveryFee"
                                                               name="deliveryFee"
                                                               th:value="${order.deliveryFee}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Transportation Fee-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="transportationFee" class="col-sm-11 col-form-label">Transportation
                                                        Fee
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="transportationFee"
                                                               name="transportationFee"
                                                               th:value="${order.transportationFee}" readonly>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <!--Total charge Amount-->
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label for="discountAmount" class="col-sm-11 col-form-label">
                                                        Total Charge
                                                    </label>
                                                    <div class="col-sm-11">
                                                        <input type="text" class="form-control" id="discountAmount"
                                                               name="address" th:value="${order.totalCharge}"
                                                               readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="card w-100"
                                     th:if="${not #lists.isEmpty(order.issuedList)}">
                                    <div class="card-header text-secondary">Error Info</div>
                                    <div th:each="issuedOrder: ${order.issuedList.issuedOrders}">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <div class="row border-color">
                                                    <!--<div class="col-md-2 col-sm-2 my-auto text-center">
                                                        <i class='fas fa-map-marker-alt fa-2x  submenu-active p-2'></i>
                                                    </div>-->
                                                    <div class="col-md-10 col-sm-10">
                                                        <span class="text-bold"> Date</span>
                                                        <span>:</span>
                                                        <span class="text-bold"
                                                              th:text="${issuedOrder.date}">Card title</span>
                                                        <br>
                                                        <span class="text-bold">Error Type</span>
                                                        <span>:</span>
                                                        <span class="text-bold"
                                                              th:text="${issuedOrder.type}">Card title</span>
                                                        <br>
                                                        <span class="text-bold">Description</span>
                                                        <span>:</span>
                                                        <span class="text-bold"
                                                              th:text="${issuedOrder.description}">Card title</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div th:if="${order.orderDestinations} != null">
                                        <div th:each="location: ${order.orderDestinations}" class="col-md-6">
                                            <div class="card addressCard">
                                                <div class="row no-gutters">
                                                    <div class="col-md-2 my-auto text-center">
                                                        <i class='fas fa-map-marker-alt fa-2x sidebar-text-color submenu-active p-2'></i>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-bold"
                                                                th:text="${location.date}">Card title</h3>
                                                            <br>
                                                            <h3 class="card-title text-bold"
                                                                th:text="${location.name}">Card title</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" id="addressId" th:value="${location.id}">
                                        </div>
                                    </div>-->
                                </div>

                                <div class="card w-100"
                                     th:if="${not #lists.isEmpty(order.orderDestinations)}">
                                    <div class="card-header text-secondary">Arrived Location</div>
                                    <div th:each="location: ${order.orderDestinations}">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <div class="row border-color">
                                                    <div class="col-md-2 col-sm-2 my-auto text-center">
                                                        <i class='fas fa-map-marker-alt fa-2x sidebar-text-color submenu-active p-2'></i>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10">
                                                        <span class="text-bold"
                                                              th:text="${location.date}">Card title</span>
                                                        <br>
                                                        <span class="text-bold"
                                                              th:text="${location.name}">Card title</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div th:if="${order.orderDestinations} != null">
                                        <div th:each="location: ${order.orderDestinations}" class="col-md-6">
                                            <div class="card addressCard">
                                                <div class="row no-gutters">
                                                    <div class="col-md-2 my-auto text-center">
                                                        <i class='fas fa-map-marker-alt fa-2x sidebar-text-color submenu-active p-2'></i>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-bold"
                                                                th:text="${location.date}">Card title</h3>
                                                            <br>
                                                            <h3 class="card-title text-bold"
                                                                th:text="${location.name}">Card title</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" id="addressId" th:value="${location.id}">
                                        </div>
                                    </div>-->
                                </div>

                                <div class="card w-100"
                                     th:if="${not #lists.isEmpty(order.orderLocations)}">
                                    <div class="card-header text-secondary">Arrived Location</div>
                                    <div th:each="location: ${order.orderLocations}">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                <div class="row border-color">
                                                    <div class="col-md-2 col-sm-2 my-auto text-center">
                                                        <i class='fas fa-map-marker-alt fa-2x sidebar-text-color submenu-active p-2'></i>
                                                    </div>
                                                    <div class="col-md-10 col-sm-10">
                                                        <span class="text-bold"
                                                              th:text="${location.date}">Card title</span>
                                                        <br>
                                                        <span class="text-bold"
                                                              th:text="${location.name}">Card title</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div th:if="${order.orderDestinations} != null">
                                        <div th:each="location: ${order.orderDestinations}" class="col-md-6">
                                            <div class="card addressCard">
                                                <div class="row no-gutters">
                                                    <div class="col-md-2 my-auto text-center">
                                                        <i class='fas fa-map-marker-alt fa-2x sidebar-text-color submenu-active p-2'></i>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="card-body">
                                                            <h3 class="card-title text-bold"
                                                                th:text="${location.date}">Card title</h3>
                                                            <br>
                                                            <h3 class="card-title text-bold"
                                                                th:text="${location.name}">Card title</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" id="addressId" th:value="${location.id}">
                                        </div>
                                    </div>-->
                                </div>

                                <div class="card w-100"
                                     th:if="${not #lists.isEmpty(childOrder)}">
                                    <div class="card-header text-secondary">Related Orders</div>
                                    <!--card body-->
                                    <div class="card-body">

                                        <table class="table table-responsive w-100 d-block d-md-table"
                                               id="related-order-table">
                                            <thead>
                                            <tr class="text-white">
                                                <th width="6%">No</th>
                                                <th class="text-center">Order ID</th>
                                                <th class="text-center">Total Charge</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Address</th>
                                                <th class="text-center">Phone</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="child, iStat : ${childOrder}">
                                                <th class="text-center" th:text="${iStat.index+1}"></th>
                                                <th class="text-center" th:text="${child.orderNumber}"></th>
                                                <th class="text-center" th:text="${child.totalCharge}"></th>
                                                <th class="text-center" th:text="${child.customerName}"></th>
                                                <th class="text-center" th:text="${child.address}"></th>
                                                <th class="text-center" th:text="${child.phoneNumber}"></th>
                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                </div>

                                <input type="hidden" id="orderId" th:value="${order.id}">

                            </div>

                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6 pr-0">
                                    <div class="float-right">
                                        <button class="btn btn-bg-color pl-5 pr-5 ml-2" name="submit"
                                                type="submit" data-toggle="modal" data-target="#deactivateModal">
                                            Resolve
                                        </button>
                                        <a onclick="history.go(-1)">
                                            <button type="button" class="btn btn-outline-color pl-3 pr-3">
                                                Cancel
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>

</div>

<!-- start deactivateModal-->
<div id="deactivateModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error Resolve</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to resolve the error order?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-color pl-5 pr-5"
                        data-dismiss="modal">Close
                </button>
                <a id="banAgent">
                    <button type="button" class="btn text-white btn-bg-color pl-5 pr-5"
                            onclick="errorResolve()"
                            data-dismiss="modal">
                        Resolve
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- start myModal-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Done</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Error order resolved successfully.</div>
            <div class="modal-footer">
                <a th:href="${'/failed-orders'}">
                    <button type="button" class="btn text-white btn-bg-color pl-5 pr-5">
                        OK
                    </button>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- Logout Modal -->
<th:block th:include="fragment/logout :: logout "></th:block>

<!-- script -->
<th:block th:include="fragment/script :: script"></th:block>

<script th:src="@{../../js/related-order.js}"></script>

<script>
    /*$('#deactivateModal').on('show.bs.modal', function (e) {
        var triggerLink = $(e.relatedTarget);
        var id = triggerLink.data("id");
        $(this).find(".modal-body").html("<p>Are you sure you want to resolve the error order?</p>");

    });*/

    function errorResolve() {
        const orderId = $('#orderId').val();

        url = '/failed-orders/resolve?orderId=' + orderId;
        $.ajax({
            type: 'PUT',
            url: url,
            success: function (data) {
                $(document).ready(function () {
                    $('#myModal').modal('show');
                });
            }
        });
    }

</script>

</body>

</html>