<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="MTP Express is of the most best delivery services company in myanmar.
        We collect orders with free collect fees & delivery to customer with fair prices as soon as possible.">
    <meta name="author" content="developer@shieldexpress.com.mm">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="MTP Express"/> <!-- website name -->
    <meta property="og:site" content="http://mtp-express.com.mm"/> <!-- website link -->
    <meta property="og:title" content="MTP Express"/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="MTP express is of the most best delivery services company in myanmar.
        We collect orders with free collect fees & delivery to customer with fair prices as soon as possible."/>
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="https://mtp-express.com.mm/images/main/logoOnly.png"/>
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="Facebook, Google, LikedIn, Viber"/>
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="services"/>

    <!-- Website Title -->
    <title>MTP Express</title>

    <!-- add icon link -->
    <link rel="icon" th:href="@{../../images/main/logoOnly.png}" type="image/png">

    <link th:href="@{css/index.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-4.5.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{../../css/materialicons.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js}"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</head>

<body class="body">

<!-- Navigation -->
<nav class="navbar justify-content-between">
    <div class="container-fluid header">
        <img th:src="@{images/main/header/logo-1.png}" width="107" height="72">

        <!--<div class="navbar-nav ml-auto">
            <a href="http://admin.mtp-express.com" class="nav-item nav-link">
                <img th:src="@{images/main/header/i_login.svg}" width="44" height="44" alt="login"></a>
        </div>-->
    </div>
</nav>
<!-- end of navbar -->
<!-- end of navigation -->

<!-- Features 2 -->
<div class="container">
    <div class="header-content">
        <div class="container text-left">
            <h1 class="pt-3">Privacy and Confidentiality</h1>
            <hr>
            <p>
                Welcome to the mtp-express.com.mm website. We respect your privacy and want to protect your
                personal information. To learn more, please read this Privacy Policy.
            </p>
            <p>
                You can visit the Site and browse without having to provide personal details. During your visit to
                the Site you remain anonymous and at no time can we identify you unless you have an account on the
                Site and log on with your user name and password.
            </p>

            <h2 class="pt-3">1. Data that we collect</h2>
            <hr>
            <p>
                We may collect various pieces of information if you seek to place an order for a product with us on
                the App.
            </p>
            <p>
                We collect, store and process your data by the App and to provide you with our services.
            </p>
            <p>
                We may pass your name and address in order to make delivery of the product to you. you must keep it
                up to date.
            </p>
            <p>
                Your actual order details may be stored with us but for security reasons cannot be retrieved
                directly by us. However, you may access this information by logging into your account in the App.
                Here you can view the details of your orders that have been
                completed, those which are delivering and those which are shortly to be collected and administer
                your address details.
            </p>

            <h2>2. Security</h2>
            <hr>
            <p>
                We have in place appropriate technical and security measures to prevent unauthorized or unlawful
                access to or accidental loss of or destruction or damage to your information. When we collect data
                through the App, we collect your personal details on a
                secure server. You are responsible for protecting against unauthorized access to your password and
                to your computer.
            </p>
            <h2>3. Your rights</h2>
            <hr>
            <p>
                If you are concerned about your data you have the right to request access to the personal data which
                we may hold or process about you. You have the right to require us to correct any inaccuracies in
                your data free of charge.
            </p>
        </div>
        <!-- end of container -->
    </div>
    <!-- end of features 2 -->

</div>

<!-- footer -->
<footer>
    <div id="footer">
        <div class="container">
            <div class="row my-3">
                <div class="col-md-4 col-sm-12" style=" margin-top: 18px;">
                    <h4>MTP Express</h4>
                    တရုတ် <img th:src="@{images/main/footer/transaction.svg}" class="icon">
                    မြန်မာတိုက်ရိုက်အမြန်ချောပို့<br>
                    တရုတ်ပြည် online ပေါ်မှ ပစ္စည်းမှာယူခြင်းနှင့်<br>
                    အပြန်အလှန်ပို့ဆောင်ရေးဝန်ဆောင်မှု
                </div>

                <div class="col-md-4 col-sm-12 align-content-center">
                    <img th:src="@{images/main/footer/logo.png}" width="208" height="193"></div>

                <div class="col-md-4 col-sm-12" style="margin-top: 18px;">
                    <h4>Contact Us</h4>
                    <div class="row">
                        <img th:src="@{images/main/footer/location.svg}" width="15" height="20" class="icon">
                        <div>
                            လိပ်စာ - ၅၇ လမ်း၊ ၁၀၅ x ၁၀၆ လမ်းကြား၊<br> ချမ်းမြသာစည်မြို့နယ်၊ မန္တလေးမြို့။
                        </div>
                    </div>
                    <div class="row">
                        <!--<i class="material-icons">phone</i>-->
                        <img th:src="@{images/main/footer/phone.svg}" width="15" height="20" class="icon">
                        <span>
                            09 - 404104106, 09 - 404104107,<br> 09 - 404104108, 09 - 404104109
                        </span>
                    </div>

                    <div class="row">
                        <img th:src="@{images/main/footer/facebook.svg}" width="15" height="20" class="icon">
                        <a target="_blank" href="https://www.facebook.com/DeliveryExpressMTP">
                            MTP Express
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->

</body>

</html>